
img {
  max-width: 100%;
  height: auto;
}
#nav-pc ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

#nav-pc li a {
    margin: 10px 20px;
    font-size: 34px;
    text-decoration: none;
    color: #191919;
}
#nav-pc li a:hover {
    color:darkorchid;
    opacity: 0.7;
}


.wrappar {
    display: flex;
    width: 80%;
    margin: 30px auto;
}
.wrappar img {
  
    width: 30%;
    height: auto;
    
}
.wrappar .prof {
    width: 70%;
    padding-left: 60px;
}

h1 {
    margin: 20px;
}
h2 {
  text-align: center;
  margin: 80px 0 80px 0;
  font-size: 34px;
}
h3 {
    font-size:24px;
}

.prof {
  margin: 80px 0 0 30px;
}
.prof li {
    font-size: 18px;
}

.Works {
    display: flex;
    justify-content: center;
    text-align: center;
}
.works-p img {
    margin: 33px;
    padding: 1px;
    
}
.works-p p {
    white-space: pre-wrap;
    margin: 33px;
    padding: 1px;
    width: 240px;
    text-align: center;
}

footer{
    text-align: center;
    margin: 30px;
}

/*====================
  スマートフォン用のスタイル
 =====================*/
 @media screen and (max-width: 767px) {

#nav-pc ul li a {
    font-size: 18px;
}

.prof h3 {
    text-align: center;
}

.prof ul {
 width: 100%;
}

.prof li {
  font-size: 16px;
  
}

.Works { 
  display: block;  
}

.works-p img  {
 margin-left: auto;
 margin-right: auto;
}

.works-p p  {
 margin-left: auto;
 margin-right: auto;
}

 }
 @media screen and (max-width: 928px) {

.wrappar {
    display: block; 
    width: 100%;
}

.wrappar img {
    width: 50%;
   
    margin: auto;
}
.wrappar .prof {
    width: 60%;
    border: 1px solid #666;
    margin: 30px auto 0;
    padding: 12px;
}
.wrappar ul {
    padding: 0 0 0 40px;
}
 }
